<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.sfv.qa.testcase.ManageAccountTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CreateWebAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.sfv.qa.testcase.HomePagetest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyinactiveaccounts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyHomePageTitleTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyUserNameTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyActiveaccbtnTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.sfv.qa.testcase.Createplaylisttest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>DeletionOfMultiplaylist</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChangingStatusOfMultiplayLIST</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddMediaToThePlayist</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateCreateplaylist</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CompletePlaylistFlow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>RemovalOfMediaFromPlaylist</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addmediatoplaylistandchecksymbol</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MediacheckPlaylist</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.sfv.qa.testcase.Createusertest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createuseradminaccess</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createuserhavinguseraccess</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.sfv.qa.testcase.DashboardTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyvideotitle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>sortbyrecentlyupload</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>gridlistview</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>sortbyalphabetically</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.sfv.qa.testcase.Createingestionprofiletest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createingestionprof</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createingestftppull</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createingestftppush</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.sfv.qa.testcase.Createapplicationtest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validateCreateapplication</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.sfv.qa.testcase.Createtagprofiletest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>creationtag</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>creationtagwithoutmandatory</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.sfv.qa.testcase.Forgotpasswordtest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestingForgotPasswordFunctionalityForExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestingForgotPasswordFunctionalityForIncorrectUserFormat</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestingForgotPasswordFunctionalityForNonExistingUser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.sfv.qa.testcase.Changepasswordtest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>IncorrectoldpassWord</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ValidateChangePassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MismatchNewpasswordAndConfirmPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.sfv.qa.testcase.Managementtest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>thumbnailprofiledeletion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>thumbnailprofilecreation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.sfv.qa.testcase.Loginpagetest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginPageTitleTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LoginPageimagetest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginwithValidUserCredentials</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginWithInvalidUserCredentials</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.sfv.qa.testcase.Mediatest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verificationofincomplete</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteandrestore</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>mediadetail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>veriofaddmediatoplay</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>incompletemediaaddplay</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>thumbnailcapturetest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deletedmedia</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>veriofmultilanguage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>mediacode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verificationofreplace</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deletemultimedia</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>syndicatemultimedia</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>statusmultimedia</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.sfv.qa.testcase.Uploadtest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>uploadingmp4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>syndicateendtoend</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>uploadusingurl</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verificationofupload</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifinontranscoding</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>transcoding</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>uploadingwebm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>uploadingmov</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>uploadingincorrect</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
