<h2>Methods that were not run</h2><table>
<tr><td>com.sfv.qa.testcase.Changepasswordtest.MismatchNewpasswordAndConfirmPassword</td></tr>
<tr><td>com.sfv.qa.testcase.Changepasswordtest.IncorrectoldpassWord</td></tr>
</table>