<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.sfv.qa.testcase.Mediatest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verificationofincomplete</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>veriofmulti</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteandrestore</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>veriofaddmediatoplay</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>syndication</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verificationofreplace</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>syndicatemultimedia</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>veriofmediapre</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>syndicatedmedia</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deletemultimedia</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deletedmedia</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>statusmultimedia</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closebrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
