<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:38:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Mediatest.setUp()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:39:02</td>   <td>15778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mediatest.syndication()[pri:30, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">syndication</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:41:28</td>   <td>162378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Mediatest.closebrowser()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:41:40</td>   <td>174320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Mediatest.setUp()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:41:49</td>   <td>182893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mediatest.verificationofreplace(java.lang.String)[pri:31, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">verificationofreplace</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:42:11</td>   <td>205389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Mediatest.closebrowser()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:42:22</td>   <td>216512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Mediatest.setUp()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:42:31</td>   <td>224631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mediatest.verificationofincomplete(java.lang.String)[pri:32, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">verificationofincomplete</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:42:59</td>   <td>253047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Mediatest.closebrowser()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:43:10</td>   <td>264127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Mediatest.setUp()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:43:17</td>   <td>271313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mediatest.deletemultimedia()[pri:33, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">deletemultimedia</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:43:35</td>   <td>288782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Mediatest.closebrowser()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:43:46</td>   <td>299823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Mediatest.setUp()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:43:53</td>   <td>307452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mediatest.statusmultimedia()[pri:34, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">statusmultimedia</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:44:08</td>   <td>322179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Mediatest.closebrowser()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:44:19</td>   <td>333224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Mediatest.setUp()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:44:27</td>   <td>340887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mediatest.syndicatemultimedia()[pri:35, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">syndicatemultimedia</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:44:37</td>   <td>350639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Mediatest.closebrowser()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:44:48</td>   <td>361673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Mediatest.setUp()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:44:57</td>   <td>370701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mediatest.syndicatedmedia()[pri:36, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">syndicatedmedia</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:46:59</td>   <td>492735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Mediatest.closebrowser()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:47:10</td>   <td>503785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Mediatest.setUp()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:47:17</td>   <td>510868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mediatest.deletedmedia()[pri:37, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">deletedmedia</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:47:49</td>   <td>543142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Mediatest.closebrowser()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:48:00</td>   <td>554242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Mediatest.setUp()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:48:08</td>   <td>561683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mediatest.veriofmulti(java.lang.String, java.lang.String)[pri:38, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">veriofmulti</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:48:31</td>   <td>584691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Mediatest.closebrowser()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:48:42</td>   <td>595705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Mediatest.setUp()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:48:49</td>   <td>603316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mediatest.veriofaddmediatoplay()[pri:39, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">veriofaddmediatoplay</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:49:02</td>   <td>615793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Mediatest.closebrowser()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:49:13</td>   <td>626932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Mediatest.setUp()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:49:20</td>   <td>634221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mediatest.veriofmediapre(java.lang.String)[pri:40, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">veriofmediapre</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:49:27</td>   <td>640648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Mediatest.closebrowser()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:49:38</td>   <td>651716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Mediatest.setUp()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:49:45</td>   <td>659076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mediatest.deleteandrestore()[pri:41, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">deleteandrestore</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>18/05/30 16:50:06</td>   <td>680139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Mediatest.closebrowser()[pri:0, instance:com.sfv.qa.testcase.Mediatest@f2ff811]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
</table>
